@keyframes appear {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

[data-status="accepted"] {
    background-color: #168965;
}

[data-status="rejected"] {
    background-color: #ed3824;
}

[data-active] {
    background-color: var(--bg);
    border: var(--border);
}

[data-active="false"] {
    opacity: 50%;
}

[data-status],
[data-active] {
    display: grid;
    padding: 1rem;
    border-radius: 0.5rem;
    animation: appear 0.5s;
    place-self: center;
    width: 100%;
    height: 100%;
}