:root {
    --primary: #087cf4;
    --secondary: #10d0e9;
    --gradient: linear-gradient(to bottom right, var(--primary), var(--secondary));
    --reverse-gradient: linear-gradient(to top left, var(--primary), var(--secondary));
}

body.light {
    --bg: #fff;
    --text: #111;
    --variant: #eee;

    .moon {
        display: inline-block;
    }

    .sun {
        display: none;
    }
}

body.dark {
    --bg: #111;
    --text: #eee;
    --variant: #222;

    .moon {
        display: none;
    }

    .sun {
        display: inline-block;
    }
}