/* Colors and vars */
:root {
    --primary: #aac7ff;
    --on-primary: #002f65;
    --secondary: #2bd9f2;
    --on-secondary: #00363e;
    --bg: #001f25;
    --text: #a6eeff;
    --transition: all 0.125s;
    --border: 0.1rem solid var(--text);
    --border-radius: 0.5rem;
}

/* Set global values */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ui-monospace, monospace;
}

main {
    overflow: auto;
}

a,
button {
    all: unset;
    cursor: pointer;
}

::selection {
    background-color: var(--secondary);
    color: var(--on-secondary);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: var(--border-radius);
    border: solid 0.375rem var(--bg);
}