/* Colors */
:root {
    --primary: #087cf4;
    --secondary: #10d0e9;
    --bg: #111;
    --text: #eee;
    --variant: #222;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

    @supports (font-variation-settings: normal) {
        font-family: 'Inter var', sans-serif;
    }
}

main {
    width: 88vw;
    max-width: 64rem;
}

button {
    cursor: pointer;
}

::selection {
    background-color: var(--primary);
    color: var(--text);
}