<footer>
  Copyright © <a href="https://github.com/noClaps">noClaps</a> 2023
</footer>

<style lang="scss">
  footer {
    text-align: center;
    opacity: 0.75;
    font-size: 0.75rem;
    padding: 0.5rem;
    border-top: var(--border);
  }

  a {
    text-decoration: underline;
  }
</style>
