---
import Icons from "../Icons.astro";
---

<nav>
  <a href="/"><Icons name="home" /> Home</a>
  <a href="/punishments"><Icons name="hammer" /> Punishments</a>
  <a href="/alerts"><Icons name="bell" />Alerts</a>
</nav>

<style>
  nav {
    display: grid;
    grid-auto-rows: min-content;
    align-items: center;
    overflow: auto;
    grid-gap: 1rem;
    width: fit-content;

    @media (max-width: 768px) {
      order: 1;
      grid-auto-flow: column;
      width: 100%;
    }
  }

  a {
    display: grid;
    padding: 0.5rem 0.25rem;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }
</style>

<script>
  function selectCurrentPage() {
    const currentLocation = document.querySelector(
      `a[href="${location.pathname}"]`
    ) as HTMLAnchorElement;

    if (currentLocation) {
      currentLocation.style.backgroundColor = "var(--primary)";
      currentLocation.style.color = "var(--on-primary)";
    }
  }

  selectCurrentPage();

  document.addEventListener("astro:beforeload", selectCurrentPage);
</script>
