---
import Icons from "../Icons.astro";
---

<nav>
  <a href="/"><Icons name="home" /> Home</a>
  <a href="/punishments"><Icons name="hammer" /> Punishments</a>
</nav>

<style>
  nav {
    display: grid;
    grid-auto-rows: min-content;
    align-items: center;
    overflow: auto;
    grid-gap: 1rem;
    width: fit-content;

    @media (max-width: 768px) {
      font-size: 0;
    }
  }

  a {
    display: grid;
    padding: 0.5rem 0.25rem;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }
</style>

<script>
  const currentLocation = document.querySelector(
    `a[href=${location.pathname}]`
  ) as HTMLAnchorElement;

  if (currentLocation) {
    currentLocation.style.backgroundColor = "var(--primary)";
    currentLocation.style.color = "var(--on-primary)";
  }
</script>
