---
import Icons from "../Icons.astro";
---

<nav>
  <a href="/"><Icons name="home" /> Home</a>
  <a href="/punishments"><Icons name="hammer" /> Punishments</a>
</nav>

<style>
  nav {
    display: grid;
    grid-auto-rows: min-content;
    align-items: center;
    overflow: auto;
    grid-gap: 1rem;
    width: min-content;
  }

  a {
    display: grid;
    padding: 0.5rem 0.25rem;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }
</style>
