---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <main id="swup">
    <h1>Error 404</h1>
    <h2>Page not found</h2>
    <a href="/">Go home</a>
  </main>
</BaseLayout>

<style>
  main {
    text-align: center;

    & * {
      margin: 1rem;
    }
  }

  a {
    background: var(--primary);
    color: var(--on-primary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    transition: var(--transition);

    &:hover {
      background: var(--secondary);
      color: var(--on-secondary);
    }
  }
</style>
