---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main>
		<a href="/punishments">Punishments</a>
	</main>
</BaseLayout>

<style>
	main {
		display: none;
		grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
		grid-gap: 1rem;
	}

	a {
		background-color: var(--variant);
		height: max-content;
		padding: 1rem;
		border-radius: 0.5rem;
		transition: var(--transition);
		font-size: 1.25rem;
		font-weight: bold;

		&:hover {
			box-shadow: 0 0 0.5rem 0.25rem var(--primary);
		}
	}
</style>
