---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main>
	</main>
	<h1 id="placeholder">Please log in to continue</h1>
</BaseLayout>

<style>
	main {
		display: none;
	}

	#placeholder {
		place-self: center;
	}

	#guilds {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		margin: 1rem 0;
	}
</style>

<script src="../scripts/script.ts"></script>
