---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main id="ulquiorra">
		<h1>This is some stuff</h1>
	</main>
	<noscript>Please enable Javascript to continue!</noscript>
</BaseLayout>

<style>
	main {
		display: none;
		text-align: center;
	}

	noscript {
		text-align: center;
		font-size: 2rem;
		font-weight: bold;
	}
</style>

<script>
	class auth {
		loggedIn: boolean;

		constructor() {
			this.loggedIn = false;
		}

		async check() {
			const check = await fetch(`https://ucp.mester.info/api/user`);
			this.loggedIn = check.ok;
		}
	}

	const user = new auth();
	await user.check();

	if (!user.loggedIn) {
		location.replace("/login");
	} else {
		(document.querySelector("#ulquiorra") as HTMLElement).style.display =
			"grid";
	}
</script>
