---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main></main>
	<noscript> Please enable Javascript to continue!</noscript>
</BaseLayout>

<style>
	main {
		/* display: none; */
	}
</style>

<script>
	location.replace("/login");
</script>
