---
import BaseLayout from "../layouts/BaseLayout.astro";

const token = Astro.cookies.get("token").value;

if (!token) {
  return Astro.redirect("/login");
}
---

<BaseLayout>
  <main>
    <h1>Welcome to Ulquiorra UCP</h1>
    <p>
      The UCP (User Control Panel) is a web interface designed for members of
      the <b>Mester's Hub</b> Discord server to control and overview their data associated
      with the Discord server.
    </p>
    <p>
      It is currently in Beta, so if you think something is missing, it's
      probably being worked on - but make sure to send a suggestion in the
      Discord server, we would love to hear your feedback!
    </p>
    <p>You can:</p>
    <ul>
      <li>view your present and past punishments,</li>
      <li>appeal an active punishment if you think it was unfair,</li>
      <li>
        get real-time notifications when your appeal has been accepted/rejected
        by a staff member,
      </li>
      <li>and so much more coming later!</li>
    </ul>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    display: grid;
    grid-auto-rows: min-content;
    gap: 1rem;
  }

  p,
  li {
    line-height: 1.5rem;
    text-align: justify;
  }

  ul {
    padding-left: 1.5rem;
  }
</style>
