---
import LoginLayout from "../layouts/LoginLayout.astro";

const token = Astro.cookies.get("token").value;

if (token) {
  return Astro.redirect("/");
}
---

<LoginLayout title="Login failed">
  <h1>Login Failed!</h1>
  <a href="/login">Please try again</a>
</LoginLayout>

<style lang="scss">
  h1 {
    font-size: 3rem;
  }

  a {
    background: var(--primary);
    color: var(--on-primary);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    font-weight: bold;
    transition: var(--transition);

    &:hover {
      background: var(--secondary);
    }
  }
</style>
