---
import Icons from "../components/Icons.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <h1 class="title">Ulquiorra</h1>
        <h2 class="desc">A GUI for Mester's Discord bot</h2>
        <form action=`${Astro.site}api/auth`>
            <button class="login" type="submit"
                >Login to <Icons name="discord" /></button
            >
        </form>
    </main>
</BaseLayout>

<style>
    main {
        display: grid;
        text-align: center;
    }

    .title {
        padding: 0.5rem;
    }

    .desc {
        padding: 0.5rem;
    }

    .login {
        all: unset;
        cursor: pointer;
        background-color: var(--primary);
        color: var(--text);
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: inline-flex;
        gap: 0.5rem;
        margin: 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
        transition: all 0.25s;

        &:hover {
            background-color: var(--secondary);
        }
    }
</style>
