---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Login failed">
  <main>
    <h1>Login Failed!</h1>
    <a href="/">Please try again</a>
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    place-items: center;
    gap: 1rem;
  }

  a {
    background: var(--primary);
    color: var(--bg);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-size: 1.25rem;
    font-weight: bold;
    transition: var(--transition);

    &:hover {
      background: var(--secondary);
    }
  }
</style>
