<footer>Copyright <a href="https://github.com/noClaps">noClaps</a> 2023</footer>

<style>
    footer {
        text-align: center;
        opacity: 0.75;
        font-size: 0.75rem;
    }

    a {
        color: var(--text);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
</style>
