---
import LoginButton from "./LoginButton.astro";
---

<header>
    <h2>Ulquiorra</h2>
    <LoginButton />
    <div id="user-info">
        <img id="avatar" src="" alt="" />
        <p id="username"></p>
    </div>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div {
        display: none;
        align-items: center;
        gap: 0.5rem;
    }

    img {
        height: 1.5rem;
        border-radius: 100vmax;
    }

    p {
        font-size: 1.25rem;
        font-weight: bold;
    }
</style>
