---
import LoginButton from "./LoginButton.astro";
import Icons from "./Icons.astro";
---

<header>
    <a href="/"><Icons name="home" /></a>
    <LoginButton />
    <div id="user-info">
        <img id="avatar" src="" alt="" />
        <p id="username"></p>
        <menu>
            <button class="server-link" id="server-link">Mester's hub</button>
            <form action=`${Astro.site}api/user/logout`>
                <button type="submit">Log out</button>
            </form>
        </menu>
    </div>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background-color: var(--variant);
    }

    div {
        display: none;
        gap: 0.5rem;
        position: relative;
        cursor: pointer;

        &:hover menu {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, 25%);
        }
    }

    img {
        height: 1.75rem;
        border-radius: 100vmax;
    }

    p {
        font-size: 1.25rem;
        font-weight: bold;
    }

    a,
    button {
        background-color: transparent;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: var(--transition);

        &:hover {
            background-color: var(--primary);
        }
    }

    menu {
        display: grid;
        visibility: hidden;
        opacity: 0;
        color: var(--text);
        gap: 0.5rem;
        font-weight: bold;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 0.5rem;
        margin: 0.25rem 0;
        transition: var(--transition);
        background-color: var(--variant);
        border-radius: 0.75rem;
        box-shadow: 0 0 0.25rem 0.25rem var(--bg);
        z-index: 2;
    }

    form {
        width: 100%;
        background-color: transparent;
        border-radius: 0.5rem;
        transition: var(--transition);

        &:hover {
            background-color: var(--primary);
        }
    }
</style>
