---
import LoginButton from "./LoginButton.astro";
import Toast from "./Toast.astro";
import { getUserData } from "../scripts/userData";
import { getUrl } from "../scripts/functions";
import UserProfile from "./UserProfile.astro";

const url = getUrl();
const userData = await getUserData(url);

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header>
  <h1 id="swup">{title}</h1>
  {
    userData ? (
      <UserProfile
        userId={userData.userId}
        avatar={userData.avatar}
        userTag={userData.userTag}
      />
    ) : (
      <LoginButton />
    )
  }
</header>
<Toast id="server-link">Copied server link to clipboard!</Toast>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--bg);
    border-bottom: var(--border);
  }
</style>

<script>
  import { $toastText } from "../scripts/stores";

  const serverLinkButton = document.getElementById(
    "server-link"
  ) as HTMLButtonElement;
  const serverLink = "https://discord.gg/MfmUFk5kbe";

  serverLinkButton.addEventListener("click", () => {
    navigator.clipboard.writeText(serverLink);
    $toastText.set("Copied server link to clipboard");
  });
</script>
