---
import LoginButton from "./LoginButton.astro";
---

<header>
    <h2>Ulquiorra</h2>
    <LoginButton />
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
