---
import LoginButton from "./LoginButton.astro";
---

<header>
    <h2>Ulquiorra</h2>
    <LoginButton />
    <div id="user-info">
        <img id="avatar" src="" alt="" />
        <p id="username"></p>
        <button type="submit">Log out</button>
    </div>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    div {
        display: none;
        gap: 0.5rem;
        position: relative;
        cursor: pointer;

        &:hover button {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, 75%);
        }
    }

    img {
        height: 1.75rem;
        border-radius: 100vmax;
    }

    p {
        font-size: 1.25rem;
        font-weight: bold;
    }

    button {
        all: unset;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;
        background-color: transparent;
        color: var(--text);
        padding: 0.5rem;
        border-radius: 0.5rem;
        gap: 0.5rem;
        font-weight: bold;
        transition: all 0.25s;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        &:hover {
            background-color: var(--primary);
        }

        &::selection {
            background-color: var(--secondary);
        }
    }
</style>
