---
import { getAPIRoute } from "../scripts/api";
import Icons from "./Icons.astro";

const loginRoute = getAPIRoute("auth");
---

<form action={loginRoute}>
  <button type="submit">Login to <Icons name="discord" /></button>
</form>

<style lang="scss">
  button {
    background-color: var(--primary);
    color: var(--on-primary);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    display: inline-flex;
    gap: 0.5em;
    font-weight: bold;
    transition: var(--transition);
    font-size: 1.5rem;

    &:hover {
      background-color: var(--secondary);
      color: var(--on-secondary);
    }

    &::selection {
      background-color: var(--secondary);
      color: var(--on-secondary);
    }
  }
</style>
