---
import Icons from "./Icons.astro";
---

<form action=`${Astro.site}api/auth` id="login">
    <button type="submit">Login to <Icons name="discord" /></button>
</form>

<style>
    button {
        background-color: var(--primary);
        color: var(--text);
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: inline-flex;
        gap: 0.5rem;
        font-weight: bold;
        transition: var(--transition);

        &:hover {
            background-color: var(--secondary);
        }

        &::selection {
            background-color: var(--secondary);
        }
    }
</style>
