---
import Icons from "./Icons.astro";

interface Props {
  id: string;
  active: boolean;
}

const { id, active } = Astro.props;
---

<div class="punishment-menu" data-id={id}>
  <Icons name="menu" />
  <menu>
    <button class=`copy-button` type="button"
      ><Icons name="copy" /> Copy Punishment ID</button
    >
    {
      !active && (
        <button class="appeal-button" type="button">
          <Icons name="gavel" /> Appeal
        </button>
      )
    }
  </menu>
</div>

<style>
  div {
    position: absolute;
    align-self: end;
    transition: var(--transition);
    padding: 0.25rem;
    border-radius: var(--border-radius);
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }

  menu {
    display: grid;
    z-index: 2;
    right: 0;
    position: absolute;
    width: max-content;
    background-color: var(--bg);
    color: var(--text);
    padding: 0.5rem;
    border-radius: calc(var(--border-radius) * 1.5);
    border: var(--border);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);

    &[open] {
      visibility: visible;
      opacity: 1;
    }
  }

  button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    transition: var(--transition);

    &:hover {
      background-color: var(--primary);
      color: var(--on-primary);
    }
  }
</style>

<script>
  import { $toastText } from "../scripts/stores";

  const punishmentMenus = document.querySelectorAll(
    ".punishment-menu"
  ) as NodeListOf<HTMLDivElement>;

  for (const punishmentMenu of punishmentMenus) {
    const id = punishmentMenu.dataset.id as string;
    const copyButton = punishmentMenu.querySelector(
      `.copy-button`
    ) as HTMLButtonElement;

    copyButton.addEventListener("click", () => {
      navigator.clipboard.writeText(id);
      $toastText.set("Copied punishment ID to clipboard");
    });

    const menu = punishmentMenu.querySelector("menu") as HTMLMenuElement;
    document.addEventListener("click", (e) => {
      if (
        (e.target as HTMLElement).closest(
          `.punishment-menu[data-id="${id}"]`
        ) &&
        !menu.hasAttribute("open")
      ) {
        menu.toggleAttribute("open");
      } else {
        menu.removeAttribute("open");
      }
    });

    const appealButton = punishmentMenu.querySelector(
      ".appeal-button"
    ) as HTMLButtonElement;

    appealButton.addEventListener("click", () => {
      sessionStorage.setItem("id", id);
      location.assign("/appeal");
    });
  }
</script>
