<div class="toast"></div>

<style lang="scss">
  div {
    position: fixed;
    left: 50%;
    bottom: 1rem;
    background-color: var(--primary);
    color: var(--on-primary);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    transform: translateX(-50%);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s;
    width: max-content;
    border: var(--border);
    border-color: var(--bg);
  }
</style>
