---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head />
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
        <div id="toast">Copied to clipboard</div>
        <style>
            body {
                display: grid;
                grid-template-rows: auto 1fr auto;
                min-height: 100vh;
                min-height: -webkit-fill-available;
                background-color: var(--bg);
                color: var(--text);
            }

            html {
                height: -webkit-fill-available;
            }

            div {
                position: absolute;
                left: 50%;
                bottom: 1rem;
                background-color: var(--primary);
                padding: 0.5rem;
                border-radius: 0.5rem;
                transform: translateX(-50%);
                z-index: 2;
                visibility: hidden;
                opacity: 0;
                transition: all 0.25s;
            }
        </style>
    </body>
</html>
