---
import Head from "../components/Head.astro";

import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <Head />
    </head>
    <body>
        <slot />
        <style>
            body {
                display: grid;
                grid-auto-rows: auto 1fr auto;
                min-height: 100vh;
                min-height: -webkit-fill-available;
                background-color: var(--bg);
                color: var(--text);
            }

            html {
                height: -webkit-fill-available;
            }
        </style>
    </body>
</html>
