---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";

import "../styles/style.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title ? `${title} | Ulquiorra` : "Ulquiorra"} />
  </head>
  <body>
    <Header title={title ?? "Ulquiorra"} />
    <div class="content">
      <Nav />
      <slot />
    </div>
    <Footer />
    <style>
      body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100dvh;
        background-color: var(--bg);
        color: var(--text);
        overflow: none;
      }

      html,
      body {
        height: 100%;
      }

      .content {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 1rem;
        padding-right: 0.5rem;
        overflow: auto;
        height: 100%;
        position: relative;
        grid-gap: 1rem;
      }
    </style>
  </body>
</html>
